* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.encabezado {
  background-color: #004080;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encabezado img {
  width: 60px;
  height: 60px;
}

.encabezado img:hover {
  transform: scale(1.1);
  transition: transform 1.5s ease;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;

}

.menu a:hover {
  color: #60606c;
}

.carrito {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
