*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----- INTERMEDIO ------ */
.intermedio{
  height: 80vh;
  background-position: auto auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('');
}